<%#  <%= render '/refinery/content_page' %>


<div class="row">
  <div class="large-2 columns"></div>
  <div class="slick-photos large-8 large-offset-2 columns">
    <%= image_tag("work.jpg") %>
    <%= image_tag("obrador.jpg") %>
    <%= image_tag("soques.jpg") %>
  </div>
  <div class="large-2 columns"></div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="large-4 columns side-body">
      <%= raw(@page.content_for(:side_body)) %>
    </div>
    <div class="large-8 columns main-body">
      <%= raw(@page.content_for(:body)) %>
    </div>            
  </div>
</div>

      