<div class="row">
  <div class="large-12 columns">
    <ul class="example-orbit" data-orbit data-options=";
                                         timer_speed: 5000;
                                         pause_on_hover: false;">
      <li><%= image_tag "cafeteria/cafeteria1000x400.jpg", :style => "margin: auto" %></li>
      <li><%= image_tag "reposteria/croi1000x400.jpg", :style => "margin: auto" %></li>
      <li><%= image_tag "obrador/reposteria1000x400.jpg", :style => "margin: auto" %></li>
      <li><%= image_tag "cafeteria/cafeteria_exterior1000x400.jpg", :style => "margin: auto" %></li>
    </ul>
  </div>
</div>
<hr/>

<div class="row">
  <div class="large-12 columns">
    <%= render '/refinery/content_page' %>
  </div>
</div>
