
<% main_slideshow = Refinery::ImageSlideshows::ImageSlideshow.includes(:image_slides).find_by_title('Home Page Slide Show') %>

<% if main_slideshow %> 
  <div class="row">
    <div class="large-12 columns">
      <ul class="example-orbit" data-orbit data-options=";
                                           timer_speed: 5000;
                                           pause_on_hover: false;">                                 
        <% main_slideshow.image_slides.each do |image_slide| %>
          <%= link_to image_slide.link_url do %>
            <%= image_tag image_slide.image.url, :alt => image_slide.title, 
                                                 :title => image_slide.caption,
                                                 :style => "margin: auto" %>
          <% end %>  
        <% end %>
         
      </ul>
    </div>
  </div>

  <hr>
<% end %> 

<% if Refinery::News::Item.count > 0 %> 
  
  <% @item = Refinery::News::Item.last %>
  <% if @item && @item.body %>

    <div class="row">
      <div class="large-12 columns">

        <h2><%= @item.title %></h2>
        <section>
          <article class="news_item">
            <p>
              <small><%= t('refinery.news.items.show.published') %> <%= l(@item.publish_date, :format => :short) %></small>
            </p>
            <%= @item.body.html_safe %>
            <p>
              <%= link_to t('see_all_news'), refinery.news_items_path %>
            </p>
          </article>
        </section>

      </div>
    </div>
    <hr>
  <% end %>

<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= render '/refinery/content_page' %>
  </div>
</div>
