<div class="row">
  <div class="large-12 column">
    <p>
      <small>
        <%= t('published') %> <%= l(@item.publish_date, :format => :short) %>
      </small>
      <% if @item.source.present? %>
        <small>, <%= t('source') %> <%= @item.source %></small>
      <% end %>
    </p>
  </div>
</div>

<div class="row">

  <% if @item.photo %>

    <div class='large-3 column'>
      <section>
        <ul class="clearing-thumbs" data-clearing>
          <li>
            <%= link_to( image_tag( @item.photo.url, :class => "th"), 
                                    @item.photo.url )  %>
          </li>
        </ul>
      </section>
    </div>

    <div class="large-9 column">
      <section>
        <%= @item.body.html_safe %>
      </section>

      <p>
        <%= link_to t('see_all_news'), refinery.news_items_path %>
      </p>
      
    </div>

  <% else %>

    <div class="large-12 column">
      <section>
        <%= @item.body.html_safe %>
      </section>
    </div>

    <div class="row">
      <div class="large">
        <%= link_to t('see_all_news'), refinery.news_items_path %>
      </div>
    </div>

  <% end %>

  
</div>
