<div class="row">
  <div class="large-12 column">
    <p>
      <small>
        <%= t('.published') %> <%= l(@item.publish_date, :format => :short) %>
      </small>
      <% if @item.source.present? %>
        <small>, <%= t('.source') %> <%= @item.source %></small>
      <% end %>
    </p>
  </div>
</div>

<div class="row">

  <% if @item.photo %>

    <div class='large-6 column'>
      <section>

        <%-# not dinamic photos -%>
        <% if false %>
          <ul class="clearing-thumbs" data-clearing>
            <li>
              <%= link_to( image_tag( @item.photo.url, :class => "th"), 
                                      @item.photo.url )  %>
            </li>
            <% if @item.photo2 %>
              <li>
                <%= link_to( image_tag( @item.photo2.url, :class => "th"), 
                                        @item.photo2.url )  %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <%-# dinamic photos -%>
        <ul class="example-orbit" data-orbit data-options=";
                                             timer_speed: 5000;
                                             animation: 'fade';
                                             pause_on_hover: false;
                                             slide_number: false;">

          <% if @item.photo %>                                   
            <%= link_to @item.photo.url do %>
              <%= image_tag(@item.photo.url, :alt => @item.title, 
                                             :title => @item.title,
                                             :style => "margin: auto")%>
            <% end %>  
          <% end %> 

          <% if @item.photo2 %> 
            <%= link_to @item.photo2.url do %>
              <%= image_tag(@item.photo2.url, :alt => @item.title, 
                                               :title => @item.title,
                                               :style => "margin: auto") %>
            <% end %> 
          <% end %>  
           
        </ul>

      </section>
    </div>

    <div class="large-6 column">

      <section>
        <%= @item.body.html_safe %>
      </section>

      <p>
        <%= link_to t('see_all_news'), refinery.news_items_path %>
      </p>

    </div>

  <% else %>

    <div class="large-12 column">
      <section>
        <%= @item.body.html_safe %>
      </section>
      <section>
        <%= link_to t('see_all_news'), refinery.news_items_path %>
      </section>
    </div>

  <% end %>

  
</div>
