  <div class="row header">
    <div class="small-12 columns">
      <a class="locale-change" href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:5000">
        <% if I18n.locale == :en %>
          <%= t('englishUK' ) %>
        <% elsif I18n.locale == :es %>
          <%= t('spanish' ) %>
        <% elsif I18n.locale == :ca %>
          <%= t('catalan' ) %>
        <% end %>
      </a>
    </div>
  </div>

  <div class="row header">
    <%#<%= image_tag "cafeteria/cafeteria2.jpg", :alt => "Pa artesà i ecològic a la Garrotxa" %>
    <div class="large-2 columns"></div>
    <div class="header-logo large-8 large-offset-2 columns">
      <%= image_tag "Logo.png", class: 'header-img' %>
      <h4 class='header-text'><%= t('pa_eco_garrotxa') %></h4>
    </div>
    <div class="large-2 columns"></div>
  </div>

  <div class="row header">
    <div class="small-12 columns">
      <ul id="hover1" class="f-dropdown" data-dropdown-content>
        <li><%= link_to t('englishUK' ), {:locale => "en" } %></li>
        <li><%= link_to t('spanish' ), {:locale => "es" } %></li>
        <li><%= link_to t('catalan' ), {:locale => "ca" } %></li>
      </ul>
      <nav class="top-bar" data-topbar>          
        <ul class="title-area">
          <li class="name">
            <%# <h1><%= link_to Refinery::Core.site_name, refinery.root_path %><%# </h1>%>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          <!-- In case I would like more items in my top-bar -->
          <!-- <li class="active"><a href="#">Right Button Active</a></li>  -->
        </ul>
        <% menu = FoundationMenu.new(refinery_menu_pages, self) %>
        <% menu.max_depth = 1 %>
        <%= menu.to_html %>
      </nav>
    </div>
  </div>



