<div class="row">
  <div class="small-3 large-2 columns">
    <%= image_tag "logos/logo_petit.svg", class: "logo-header" %>
  </div>

  <div class="small-9 large-10 columns">
    <div class="row">
      <div class="contain-to-grid small-12 columns">
        <!--    Locale switch    -->
        <nav class="top-bar" data-topbar role="navigation">   
          <ul class="title-area">
            <li class="name">
              <a href="#" class="logo"></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span><%=t('language')%></span></a></li>
          </ul>

          <% if ( Refinery::Setting.get( :spanish_web ) == true ) || ( Refinery::Setting.get( :english_web ) == true ) %> 
             <%-# ( Refinery::Setting.get( :english_web ) == true ) -%> 

            <section class="top-bar-section">
              <ul class="right locale-switch">
                <li class="has-dropdown">
                  <a href="#"><%= current_locale_to_display %></a>
                 <ul class="dropdown">
                   <% if I18n.locale == :en %>
                    <% if Refinery::Setting.get( :spanish_web ) == true %>
                      <li><%= link_to t('spanish' ), refinery.url_for( :locale => "es") %></li>
                    <% end %>
                     <li><%= link_to t('catalan' ), refinery.url_for( :locale => "ca") %></li>  
                   <% elsif I18n.locale == :es %>
                    <% if Refinery::Setting.get( :english_web ) == true %>
                      <li><%= link_to t('englishUK' ), refinery.url_for( :locale => "en") %></li>
                    <% end %>
                     <li><%= link_to t('catalan' ), refinery.url_for( :locale => "ca") %></li>
                   <% elsif I18n.locale == :ca %>
                     <% if Refinery::Setting.get( :english_web ) == true %>
                       <li>
                         <%= link_to t('englishUK' ), refinery.url_for( :locale => "en") %>
                       </li>
                      <% end %>
                      <% if Refinery::Setting.get( :spanish_web ) == true %>
                        <li>
                          <%= link_to t('spanish' ), refinery.url_for( :locale => "es") %>
                        </li>
                      <% end %>
                   <% end %>
                 </ul>
                </li>
              </ul>
            </section>
          <% end %>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="contain-to-grid small-12 columns">
        <p></p>
      </div>
    </div>

    <div class="row">
      <div class="contain-to-grid small-12 columns">
        <nav class="top-bar" data-topbar role="navigation">          
          <!--    Start Logo    -->
          <ul class="title-area">
            <li class="name">
              <a href="#" class="logo"></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>  
          <!--    End Logo    -->

          <!--    Start Navigation Menu    -->
          <%#  FoundationMenu adds a section tag with css class = large-9 columns  %>
          <%= FoundationMenu.new(refinery_menu_pages, self).to_html %>
          <!--    End Navigation Menu    -->

          <!-- Original MenuPresenter with menu items -->
          <!-- Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html -->
        </nav>
      </div>
    </div>
    
 </div>
</div>