<section id="body">
  <h2><%= @page.title %></h2>
  <ul id="breads">
    <% style = ["fade-in", "slide-in-left", "fade-in-new-background"] %>
    <% @breads.each_slice(3) do |slice| %>
      <div class="row">
        <% slice.each_with_index do |bread, b_index| %>
          <div class="small-4 columns">
            <div class="image-wrapper overlay-<%=style[b_index % style.size] %>">
              <% if bread.photo %>
                <%= image_tag bread.photo.url %>
              <% else %>
                <%= image_tag "logo_negro.svg" %>
              <% end %>
              
              <div class="image-overlay-content">
                <h2><%= bread.name %></h2>
                <p><%= raw bread.description[0..40] + " ..." %></p>

                <% if bread.price %>
                  <p class="price"><%= raw sprintf("%.2f", bread.price ) + " €" %></p>
                <% end %>

                <%= link_to I18n.t('read_more'), refinery.breads_bread_path(bread), class: "button" %>
              </div>
            
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</section>
