<!DOCTYPE html>
<html lang="en">
  <head>
    <%# For windows phone IE to make css3 work properly %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Forn La Fogaina" %></title>

    <%= display_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'logos/logo.png', type: 'image/png' %>

    <%# Google maps %>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Marcado JSON-LD generado por el Asistente para el marcado de datos estructurados de Google. -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Forn La Fogaina",
      "url": "http://www.lafogaina.com/",
      "logo": "http://www.lafogaina.com/assets/logos/logo_petit-4ed3d978484cdb24fa7b70cbabbb9bb76ebc6dc203a790e598fc3e85054936ec.svg",
      "location":
      [
        {
          "@type": "Bakery",
          "parentOrganization": {
            "name": "Forn La Fogaina"
          },
          "name" : "La Fogaina Pa i Cafe",
          "image": "http://www.lafogaina.com/assets/logos/logo_petit-4ed3d978484cdb24fa7b70cbabbb9bb76ebc6dc203a790e598fc3e85054936ec.svg",
          "address": {
            "@type": "PostalAddress",
            "streetAddress" : "C/ Sant Sebastià nº52",
            "addressLocality" : "Les Preses",
            "addressRegion" : "La Garrotxa",
            "postalCode" : "17178"
          },
          "openingHours": [
            "Mo-Su 08:00-22:00"
          ]
        },
        {
          "@type": "Bakery",
          "parentOrganization": {
            "name": "Forn La Fogaina"
          },
          "name" : "La Fogaina Pa i Obrador",
          "image": "http://www.lafogaina.com/assets/logos/logo_petit-4ed3d978484cdb24fa7b70cbabbb9bb76ebc6dc203a790e598fc3e85054936ec.svg",
          "address": {
            "@type": "PostalAddress",
            "streetAddress" : "C/ Verge del Carme nº13",
            "addressLocality" : "Olot",
            "addressRegion" : "La Garrotxa",
            "postalCode" : "17800"
          },
          "openingHours": [
            "Mo-Su 08:00-22:00"
          ]
        }
      ],
      "image" : "http://www.lafogaina.com/assets/logos/logo_petit-4ed3d978484cdb24fa7b70cbabbb9bb76ebc6dc203a790e598fc3e85054936ec.svg",
          "email" : "fornlafogaina@gmail.com",
      "description": "Pa artesa a les Preses i Olot."
    }
    </script>
  </head>

  <body id="<%= canonical_id @page %>">
    <%= render "/refinery/javascripts" %>

    <div id="page_container" class="row">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer class="footer">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>

  </body>

</html>
