<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "La Fogaina" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'logo.png', type: 'image/png' %>

    <%# Google maps %>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>

  <body id="<%= canonical_id @page %>">

    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer class="footer">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>

    <%= render "/refinery/javascripts" %>

  </body>

</html>
